<h1>Advanced DB Ecommerce Website</h1>
<p>A website that demonstrates Rails Admin and also Blazer using a sample ecommerce website provided by <a href="https://www.kaggle.com/olistbr/brazilian-ecommerce">Kaggle</a>: </p>
<p><strong>Please login using the following credentials to visit the Admin and Blazer pages.</strong></p>
<code>username: lewagon@email.com</code>
<br>
<code>password: learntocode</code>
